<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../../../assets/lawfull.PNG" style="width: 50px; height: 50px;">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <!-- <span>
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span> -->
                </a>
                <div class="clearfix"></div>

                <!-- <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="dashboard">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
   
                </a>
            </li>
            <li class="nav-item" >
                <a >
                    <i class="la la-pencil-square"></i>
                    <p>Parking Owner</p>
                   
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="map">
                    <i class="la la-map"></i>
                    <p>Parking Sloat</p>
                   
                </a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a routerLink="terrains">
                    <i class="la la-building"></i>
                    <p>Lands</p>
                    <span class="badge badge-count">50</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="statistique">
                    <i class="la la-bar-chart"></i>
                    <p>Propriétaires</p>
                    
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="demandes">
                    <i class="la la-bell"></i>
                    <p>Demandes de documents</p>
                    <span class="badge badge-success">3</span>
                </a>
            </li> -->
           
           
        </ul>
    </div>
</div>